body{
	margin:0;
	padding:0;
	font-family:'Roboto Slab';
}

/*==========================*/
/* Header */
.header{
	width:100%;
	height:80px;
	background:gray;
	position:fixed;
	z-index:11;
	opacity:0.1;
}

/*==========================*/
/* Footer */
.footer{
	padding-top:50px;
	padding-bottom:50px;
	background:#2a2a2a;
	border-top:10px solid #000000;
	color:#FFF;
}

.footerCont{
	width:800px;
	margin:auto;
}
.col1{
	width:395px;
	display:inline-block;
	vertical-align: top;
	padding:15px;
	box-sizing: border-box;
}

.col1 input, textarea{
	display:block;
	width:100%;
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	border:none;
	outline:none;
	font-size:1.3em;
	font-family:'Hind';
	background:none;
	border-bottom:3px solid #FFF;
	color:#FFF;
}

/*==========================*/
/* fullPage */
.fullPage{
	position:relative;
	background: url(../img/bg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	box-shadow:0px 1px 1px #505050;
	z-index:10;
	
}

.widthController{
	width:90%;
	margin:auto;
	text-align:center;
	padding-top:300px;
	padding-bottom:300px;
}

.introTitle{
	color:#000;
	font-size:5em;
	
	display:inline-block;
	border-bottom:5px solid #000;
}

.introSubtitle{
	padding-top:30px;
	color:#303030;
	font-size:2em;
}

.doIt{
	width:200px;
	margin:auto;
	font-size: 24px;
	margin-top:30px;
	padding:10px;
	padding-bottom:9px;
	border:5px solid #303030;
	cursor:pointer;
	transition: 0.2s ease all;
}

.doIt:hover{
	background:#303030;
	color:#fff;
}
.button1{
	padding:10px;
	margin-top:10px;
	width:150px;
	border:5px solid #FFF;
	cursor:pointer;
	transition: 0.2s ease all;
}

.button1:hover{
	color:#303030;
	background:#fff;
}

.button2{
	padding:10px;
	margin-top:10px;
	width:100%;
	border:5px solid #FFF;
	cursor:pointer;
	transition: 0.2s ease all;
	box-sizing: border-box;
	font-family: 'Hind';
	font-size: 1.3em;
}

.button2:hover{
	color:#303030;
	background:#fff;
}



/*==========================*/
/* messages */
.messageBox{
	position:relative;
	text-align: center;
	font-size:1.3em;
	box-shadow:0px 1px 10px #000;
	z-index:9;
}
.messageOne{
	color:#FFF;
	padding-top:30px;
	padding-bottom:30px;
	background:#393939;
}

.messageTwo{
	color:#FFF;
	padding-top:50px;
	padding-bottom:50px;
	background:#0083b2;
}

/*==========================*/
/* contents */

.contentBox{
	position:relative;
	color:#303030;
	box-sizing: border-box; 
}

.contentTitle{
	font-size:2.5em;
	padding-bottom:10px;
}

.contentSubtitle{
	color:#808080;
	padding-bottom:30px;
	font-size:1.2em;
}

.contentInfo{
	font-family: 'Hind';
	font-size: 2em;
	padding:40px 70px 0 70px;
	text-align: center;
	color:#707070;
	width:1080px;
	margin:auto;
}

.contentLess{
	text-align: center;
	padding:15px;
	padding-top:100px;
	padding-bottom:100px;
	width:40%;
	display:inline-block;
	box-sizing: border-box; 
	
}
.contentMore{
	text-align: left;
	background:#f9f9f9;
	width:calc(60% - 4px);
	background: #edffed;
	display:inline-block;
	vertical-align: top;
	box-sizing: border-box; 
}

.contentHalf{	
	text-align: left;
	background:#f9f9f9;
	width:calc(50% - 2px);
	background: #edffed;
	display:inline-block;
	vertical-align: top;
	box-sizing: border-box; 
}

.contentMini{
	box-sizing: border-box; 
	height:400px;
}
.contentMiniOne, .contentMiniTwo, .contentMiniThree{
	box-sizing: border-box; 
	padding:20px;
	height:300px;
	background: url(../img/sketch.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color:#fff;
	padding-left:50px;
	font-family: 'Hind'
}
.contentMiniTwo{
	background: url(../img/devices.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.contentMore h2{
	font-weight:normal;
	font-size:2em;
}
.contentOne{
	text-align:center;
	color:#303030;
	padding-top:150px;
	padding-bottom:150px;
	background:#e9e9e9;
}



.servicesContent{
	width:340px;
	margin:auto;
	padding:0px 50px 50px 50px;
	font-size: 1.3em;
}

/*==========================*/
/* Our Work Section */

.contentThree{
	text-align:center;
	color:#FFF;
	padding-top:100px;
	padding-bottom:100px;
	background: url(../img/comp.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.ourWork{
	font-family: 'Hind';
	font-size: 2em;
	padding:40px 70px 0 70px;
	text-align: center;
	color:#707070;
	width:800px;
	margin:auto;
}

.ourWorkStuff{
	width:395px;
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	margin-bottom:5px;
	padding:0;
	height:395px;
	background:#fff;
	vertical-align: top;
}

.ourWorkStuff img{
	width:395px;
	height:395px;
}


/*==========================*/
/* Contact Us */
.contentTwo{
	text-align:center;
	color:#FFF;
	padding-top:100px;
	padding-bottom:100px;
	background:#393939;
}
.contactSubtitle{
	width:400px;
	margin:auto;
}
.contactForm{
	width:400px;
	margin:auto;
	text-align: center;
}



/*==========================*/
/* Material Icons */
.material-icons.md-48 { 
	font-size: 88px;
	padding:30px;
}

.langIcons{
	font-size:3em;
	color:#d0d0d0;
}

@media only screen and (max-width: 1200px) {
	.contentLess{
		display:block;
		width:100%;
	}
	.contentMore{
		display:block;
		width:100%;
	}
	.contentInfo{
		width:80%;
	}
	.servicesContent{
		width:100%;
		padding:15px;
		box-sizing:border-box;
		height:100px;
	}
	.langIcons{
		display:none;
	}
	.contentMiniOne, .contentMiniTwo{
		width:100%;
	}
	.ourWork{
		width:100%;
		padding:15px;
		box-sizing: border-box;
	}
}

@media only screen and (max-width: 700px) {
	.ourWork{
		width:400px;
	}
	.col1{
		width:400px;
		margin:auto;
		
	}
	.footerCont{
		width:400px;
	}
	.contentLess{
		width:100%;
		padding:15px;
		padding-top:50px;
		box-sizing:border-box;
	}
	.servicesContent{
		width:80%;
		box-sizing:border-box;
		height:150px;
	}
	.contentOne{
		padding-top:50px;
		padding-bottom:50px;
	}
	.contentInfo{
		width:100%;
		padding:15px;
		font-size:1.5em;
		box-sizing:border-box;
	}
	.introTitle{
		font-size:3em;
	}
	.contactForm, .contactSubtitle{
		box-sizing: border-box;
		width:100%;
	}
	
}

@media only screen and (max-width: 400px) {
	.widthController{
		padding-top:50px;
		padding-bottom:50px;
	}
	.introTitle{
		font-size:1.5em;
	}
	.introSubtitle{
		padding-top:10px;
		font-size:1.1em;
	}
	.messageOne{
		font-size:0.7em;
	}
	.contentBox{
		width:100%;
	}
	.contentOne{
		padding-top:50px;
		padding-bottom:50px;
		width:100%;
	}
	.contentTitle{
		font-size:1.5em;
	}
	.contentInfo{
		font-size:1em;
		width:100%;
		padding:15px;
		box-sizing: border-box;
	}
	.contentLess{
		padding-top:50px;
		padding-bottom:100px;
	}
	.servicesContent{
		width:100%;
		padding:15px;
		box-sizing: border-box;
		height:70px;
	}
	.contentThree{
		padding-top:50px;
	}
	.ourWork{
		padding-top:50px;
		width:100%;
		box-sizing:border-box;
		padding:0;
	}
	.ourWorkStuff img{
		width:80%;
		height:auto;
	}
	.ourWorkStuff{
		width:80%;
		height:auto;
		background:none;
	}
	.footerCont{
		width:100%;
		box-sizing: border-box;
	}
	.contactForm, .contactSubtitle, .col1{
		width:100%;
		padding:15px;
		box-sizing: border-box;
		padding-top:0;
	}
	
	.col1 h3{
		width:100%;
		padding:15px;
		padding-bottom:0;
		box-sizing: border-box;
	}
	
}
