#fullPage {
  background: url('../img/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 1px 1px #505050;
  z-index: 10;
  padding-top: 200px;
  padding-bottom: 200px;
}
.introTitle {
  border-bottom: 5px solid #000;
  display: inline-block;
}
.introTitle h1 {
  font-size: 5em;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.introSubtitle p {
  font-size: 2em;
}
.message {
  background: #303030;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.3em;
  color: #fff;
}
#firstSection {
  background: #e9e9e9;
  padding-top: 150px;
  padding-bottom: 150px;
}
#firstSection h2 {
  font-size: 2.5em;
  font-weight: normal;
}
#firstSection p {
  font-family: 'Hind';
  color: #808080;
  font-size: 2em;
  padding: 15px;
  max-width: 1080px;
  margin: auto;
}
#services .servicesBox {
  padding-top: 30px;
}
#services h3 {
  font-size: 2em;
  font-weight: normal;
}
#services p {
  padding: 20px;
  padding-top: 0px;
  color: #808080;
  font-family: 'Hind';
  font-size: 1.6em;
}
#services .langIcons {
  font-size: 2.8em;
  color: #808080;
  padding-top: 10px;
}
#services #rapidPrototyping {
  background: url(../img/comp.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#services #applicationDevelopment {
  background: url(../img/devices.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#services #securitySolutions {
  background: url(../img/sketch.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#services .stacked {
  padding-left: 40px;
  padding-bottom: 40px;
  color: #e0e0e0;
  font-family: 'Hind';
}
#services .stacked h4 {
  font-size: 1.3em;
  margin-bottom: 0;
  padding-bottom: 0;
}
#services .stacked p {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-size: 1.2em;
  color: #e0e0e0;
}
#services .stacked .serviceButton {
  padding: 7px;
  border: 3px solid #e0e0e0;
  cursor: pointer;
  width: 180px;
  transition: 0.2s ease all;
}
#services .stacked .serviceButton:hover {
  background: #e0e0e0;
  color: #000;
}
.ourWork {
  background: url(../img/comp.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #e0e0e0;
  padding-bottom: 50px;
}
.ourWork img {
  width: 100%;
  height: auto;
}
#footer {
  background: #303030;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #e0e0e0;
}
body {
  font-family: 'Roboto Slab';
}
.backgroundCover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.transition {
  transition: 0.2s ease all;
}
.doIt {
  width: 200px;
  margin: auto;
  font-size: 24px;
  margin-top: 30px;
  padding: 10px;
  padding-bottom: 9px;
  border: 5px solid #303030;
  cursor: pointer;
  transition: 0.2s ease all;
}
.doIt:hover {
  background: #303030;
  color: #fff;
}
